/*手机最大768px*/
@media screen and (max-width:767px) {
    .s {
        border: 0px !important;
    }

    .yy_a,
    .yy {
        display: block !important;
    }

    .main-15 .item {
        height: 330px;
    }

    .index .carousel_a .swiper-slide p:nth-child(4) a {
        background: #3979af;
        color: #fff;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .new_a {
        display: block;
    }

    .index .carousel_a .swiper-slide p:nth-child(4) {
        margin: 10px auto 0;
    }

    .list,
    .item {
        box-shadow: 0 0 0 0 !important;
    }

    .chunk,
    .main-53,
    .main-49,
    .main-17 {
        display: none;
    }

    .footer .media {
        margin: 20px 0 0 0;
    }

    .footer .media .photo {
        opacity: 1;
    }

    .footer .media li:first-child a {
        display: none;
    }

    .carousel_a {
        display: block;
        background: #fff;
    }


    .shaow .shaow_a {
        left: 5%;
    }

    .shaow .photo {
        width: 89vw;
    }

    .guanbi {
        top: -40px;
        right: 36%;
    }

    ul,
    li {
        margin: 0;
    }

    .w {
        width: 100vw;
    }

    .container {
        width: 100vw;
    }

    .main-19 .nn+.icon {
        height: 70px;
    }

    /*.main,*/
    /*        .main-1,
    .main-2,
    .main-3,
    */
    /*.main-4,*/
    /*.main-5,*/
    /*.main-6,*/
    /*.main-7,*/
    .main-8 .photo,
    /*.main-9,*/
    /*.main-10,*/
    .insert,
    .switch,
    .icon-guanbi,
    .new_b {
        display: none;
    }

    /*轮播图*/
    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #eee;
        /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-wrapper {
        display: block;
    }

    .swiper-slide {
        display: block;
    }


    .carousel_a .swiper-slide p {
        color: #999;
        font-size: 14px;
        padding: 5px 0;
    }

    .carousel_a .swiper-slide p:nth-child(3) {
        color: #000;
    }




    .carousel_a .swiper-slide p:nth-child(2) {
        width: 70%;
        margin: 0 auto
    }

    .carousel_a .swiper-slide p:nth-child(4) {
        background: #3979af;
        width: 20%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .carousel_a a {
        color: #fff;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 5px !important;
    }

    .carousel_a .swiper-slide {
        padding: 30px 0;
    }

    /*菜单图标*/
    .icon,
    .header-right img {
        display: block;
    }

    .icon .icon-ego-menu,
    .icon .icon-guanbi {
        font-size: 30px;
    }

    .main-45 {
        background: url(../img/q10.jpg)no-repeat center top;
        background-size: 100%;
    }




    /*头部*/

    .header {
        padding: 13px 0 0 0;
        background: #fff;
        z-index: 99999;
    }

    .header-left {
        padding: 0 0 0 20px;
        align-items: center;
    }

    .logo-1 {
        align-items: center;
    }

    .logo-1 .photo {
        width: 100px !important;
        height: 25px;
        overflow: hidden;
    }

    .logo-1 .photo img {
        max-width: 100%;
    }

    .logo-2 .photo {
        width: 120px !important;
        height: 25px;
        overflow: hidden;
    }


    .logo-2 .photo img {
        max-width: 100%;
    }

    /*导航*/
    .header .container,
    .header-right>ul {
        display: block;
    }

    .header-right {
        position: relative;
    }

    .header-right .icon {
        position: absolute;
        top: -34px !important;
        right: 12px !important;
    }

    .header-right>ul {
        width: 100vw;
        text-align: left;
        margin: 0 auto;
        display: none;
        z-index: 999999;
        background: #fff;
    }

    .header-right .ooo>li a {
        text-align: left;
    }

    .header-right .ooo .second-level {
        position: static;
        display: none;
    }

    .header-right .ooo {
        height: auto;
    }

    .header-right>ul>li {
        padding: 13px 0 13px 50px;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
    }

    .header-right .ooo>li {
        height: auto;
    }

    .header-right>ul>li {
        margin: 0;
    }

    .new {
        position: relative;
    }

    .new img {
        position: absolute;
        top: -13px;
        right: 53px;
        padding: 20px;
    }

    .t_a .new img {
        position: absolute;
        top: -13px;
        right: 53px;
    }

    .header-right>ul li {
        display: block;
        padding: 0;
    }

    .t_a .second-level li {
        width: 100vw;
    }

    .t_a .second-level {
        padding: 20px 0 0 0;
        width: 100%;
    }

    .t_a .second-level li a {
        padding: 10px 0 10px 15px;
    }

    .header-right>ul>li {
        padding: 20px 0 20px 15px;
    }

    .second-level li a {
        text-align: left !important;
    }


    .header-right .ooo>li>a {
        text-align: left;
    }

    .header-right .ooo .t_a:hover .second-level {
        height: 288px;
    }

    .header-right .ooo li:hover .second-level {
        height: 175px;
    }



    /* 内容 */

    .main-1 {
        /* background: url('../img/photo-5.jpg')no-repeat center top; */
        /* background-size: cover; */
        /* background-attachment: scroll; */
        /* height: 180px; */
    }

    .main-1 .aa {
        display: none;
    }

    .main-1 .bb {
        display: block;
    }


    .second-level {
        width: 100vw;
        position: static !important;
        padding: 15px 0 0 0;
    }

    .header-right img {
        width: 10px;
        height: 6px;
        margin: 0 0 0 200px;
        display: block;
    }


    .main-2 {
        /*margin: 0 0 10px 0;*/
        height: 300px;
        background-attachment: scroll;
        background-position: 0 0;
    }


    .main-2 .main-2_top p:nth-child(1) {
        padding: 40px 0 0 0;
    }

    .main-2 .main-2_top p:nth-child(2) {
        padding: 7px 0 20px 0;
    }

    .main-2_middle .list p:nth-child(2) {
        font-size: 12px;
        height: 20px;
        padding: 0 0 10px 0;
    }

    .main-2_middle .list p:nth-child(3) {
        margin: 12px auto 7px;
    }

    .main-2_bottom a {
        padding: 5px 35px;
    }

    .main-2_middle .list {
        margin: 0 2px;
        padding: 7px 4px;
        font-size: 18px;
        width: 26%;
    }

    .shu .counter {
        /* font-size: 20px; */
        font-size: 3.9vw;
    }

    .main-2 .main-2_middle {
        justify-content: space-around;
    }


    .main-3 {
        /* height: 280px; */
        background-attachment: scroll;
        height: 300px;
        background-position: 0 0;
    }


    .main-3 .title {
        padding: 40px 0 25px 0;
    }

    .main-3_bottom .photo {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .main-3_bottom .list p {
        font-size: 12px;
        padding: 25px 0 45px 0;
    }

    .main-3_bottom a {
        display: block;
        /* width: 22%; */
    }


    .main-4 {
        height: 200px;
        background-image: url(../img/q18.jpg);
        background-size: 100%;
        background-attachment: scroll;
        background-position: 0;
    }


    .main-5 {
        background: #fff;
    }

    .main-5 .title {
        padding: 40px 0 15px 0;
        font-size: 25px;
    }

    .main-5 .title p:nth-child(2) {
        margin: 10px auto 0;
    }

    .main-5 .content>p {
        padding: 20px 12px;
        margin: 0 0 20px 0;
        font-size: 15px;
    }

    .main-5 .photo {
        background-size: 100%;
        height: 169px;
    }

    .main-5 .text-1 {
        position: static;
        padding: 0;
        width: 40%;
    }

    .main-5 .text-1 p:nth-child(1) {
        padding: 0 0 0 10px;
        font-size: 22px;
    }

    .main-5 .text-1 p:nth-child(2) {
        margin: 5px 0 0 10px;
        padding: 1px 15px;
    }

    .main-5 .text-1 p:nth-child(3) {
        padding: 0 0 0 10px;
        font-size: 20px;
    }






    .main-6 .container:hover {
        transform: scale(1);
    }

    .main-6 #o {
        height: 200px;
    }


    .main-6 {
        padding: 30px 0;
    }

    .main-6 .container {
        margin: 0 auto;
        width: 90vw;
    }





    .main-7 {
        height: 200px;
        background-image: url(../img/q19.jpg);
        background-size: 100%;
        background-attachment: scroll;
    }


    .main-8 {
        height: 30px;
        padding: 0;
    }

    .main-8 .container,
    .dot,
    .wire {
        display: none;
    }

    .main-8 .list-1,
    .main-8 .list-2 {
        display: block;
        padding: 0;
    }

    .main-8 .list-1 .item {
        margin: 10px auto;
        width: 80vw;
        padding: 5px 0 0 0;
    }

    .main-8 .list-2 .item {
        margin: 10px auto;
        width: 80vw;
    }

    .main-8 .list-1 .item:nth-child(3),
    .main-8 .list-1 .item:nth-child(4),
    .main-8 .list-2 .item:nth-child(1),
    .main-8 .list-2 .item:nth-child(2) {
        margin: 10px auto;
        width: 80vw;
    }

    .main-8 .list-1 .item p:nth-child(1),
    .main-8 .list-2 .item p:nth-child(1) {
        margin: 0 auto;
        width: 80vw;
        padding: 0;
    }


    .main-9 {
        height: 220px;
        background-image: url(../img/q20.jpg);
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-10 {
        background: #fff;
    }

    .main-10 .list {
        justify-content: space-around;
        padding: 40px 0 10px 0;
    }

    .main-10 .list .item {
        margin: 7px 0;
        width: 40%;
        height: 115px;
    }

    .main-10 .list .item p:nth-child(1) {
        font-size: 16px;
        padding: 5px;
    }

    .main-10 .list .item p:nth-child(2) {
        padding: 10px 5px;
        font-size: 14px;
    }

    .main-15 .item .nn {
        width: 140px;
    }



    /*全球集团*/

    .group .container {
        padding: 0;
        margin: 0 auto;
    }

    .main-11 {
        height: 200px;
        background-image: url(../img/q16.jpg);
        background-size: 100%;
        background-attachment: scroll;
    }


    .main-12 {
        background: #fff;
    }

    .main-12 .container {
        padding: 0;
        margin: 0 auto;
    }

    .main-12 .title {
        padding: 30px 0 25px 0;
        font-size: 22px;
    }

    .main-12 .title p:nth-child(2) {
        margin: 10px auto 0;
    }

    .main-12 .content {
        padding: 0 15px;
    }

    .main-12 .content p {
        padding: 0 0 15px 0;
    }

    .main-12 .content .photo+p {
        padding: 20px 0;
    }

    .main-13 .container {
        padding: 0;
        margin: 0 auto;
        width: 95vw;
    }

    .main-13 #o {
        height: 199px;
    }

    .main-14 {
        height: 270px;
        background-image: url(../img/phone-4.jpg);
        background-position: 0;
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-15 {
        padding: 20px 0 0 0;
    }

    .main-15 .container {
        padding: 0;
        margin: 0 auto;
        width: 95vw;
    }

    .main-15 .item .icon:nth-child(2) {
        height: 130px;
    }

    .main-15 .item {
        width: 48%;
        padding: 0;
        margin: 10px auto;
    }

    .main-15 .item>p {
        width: 70%;
    }

    .main-15 p+.icon {
        padding: 5px 5px 0 20px;
    }

    .main-15 i {
        padding: 0 5px;
    }



    /*联系我们*/
    .main-16 {
        height: 200px;
        background-image: url(../img/q15.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-position: 0;
    }

    .main-17 .title {
        padding: 30px 0 25px 0;
        font-size: 22px;
    }

    .main-17 .title p:nth-child(2) {
        padding: 2px 15px;
        width: 10px;
        margin: 10px auto;
    }

    .main-17 .title p:nth-child(3) {
        font-size: 18px;
    }

    .main-18 {
        height: 275px;
        background-attachment: scroll;
        background: url(../img/photo-14.jpg) no-repeat center top;
        background-size: cover;
    }

    .main-18 .photo>img {
        display: none;
    }

    .main-18 {
        display: none;
    }

    .p {
        display: none;
    }

    .main-19 .item .nn p {
        padding: 5px 2px;
    }

    .main-19 {
        padding: 0 0 30px 0;
        background: #fff;
    }

    .main-19 .title {
        padding: 30px 0 25px 0;
        font-size: 22px;
    }

    .main-19 .title p:nth-child(2) {
        padding: 1px 15px;
        margin: 10px auto;
        width: 10px;
    }

    .main-19 .title p:nth-child(3) {
        font-size: 16px;
    }

    .main-19 .item {
        width: 45%;
        margin: 10px auto;
        height: 250px;
    }

    .main-19 .item>p {
        font-size: 16px;
        width: 70%;
        padding: 5px 10px;
    }

    .main-19 p+.icon {
        padding: 15px 10px;
    }

    .main-19 .icon {
        padding: 15px 10px 15px 10px;
    }

    .main-20 {
        background: #fff;
    }

    .main-20 .title {
        padding: 30px 0 25px 0;
        font-size: 22px;
    }

    .main-20 .title p:nth-child(2) {
        font-size: 16px;
        padding: 1px 10px;
        margin: 10px auto;
        width: 20px;
    }

    .main-20 .item .nn p {
        padding: 5px 2px;
    }


    .main-20 .title p:nth-child(3) {
        font-size: 16px;
    }

    .main-20 .item {
        width: 47%;
        height: 200px;
    }

    .main-20 .item>p {
        width: 60%;
        font-size: 16px;
        padding: 5px 10px;
    }

    .main-20 p+.icon {
        padding: 10px 10px 5px;
    }

    .main-20 .icon {
        padding: 6px 20px;
    }

    #o {
        width: 90%;
    }

    .main-21 input {
        padding: 7px 0 7px 1px;
        width: 30%;
        font-size: 14px;
    }

    .main-21 .input_c {
        padding: 15px 0 30px 0;
    }

    .main-21 .input_c .btn {
        margin: 0 0 0 3px;
    }


    /*加入我们*/
    .main-22 {
        height: 200px;
        background-image: url(../img/q17.jpg);
        background-size: 100%;
        background-attachment: scroll;
        background-position: 0;
    }

    .main-23 {
        background: #fff;
    }

    .main-23 .title {
        padding: 30px 0 25px 0;
        font-size: 20px;
    }

    .main-23 .title p:nth-child(2) {
        padding: 2px 10px;
        margin: 10px auto;
    }

    .main-23 .title p:nth-child(3) {
        width: 100%;
        font-size: 15px;
    }

    .main-24 {
        height: 260px;
        background-image: url(../img/p3.jpg);
        background-attachment: scroll;
    }

    .main-25 {
        top: 0;
    }

    .main-25 .content {
        display: block;
        padding: 20px 15px;
    }

    .main-25 .content .left {
        font-size: 40px;
    }

    .main-25 .content .right>p {
        display: none;
    }

    .main-25 .content .item p:nth-child(1) {
        font-size: 18px;
    }

    .main-25 .content .item p:nth-child(2) {
        font-size: 20px;
    }

    .main-26 {
        background: #fff;
        padding: 0;
    }

    .main-26 .title {
        padding: 30px 0;
        font-size: 22px;
    }

    .main-26 .title p:nth-child(2) {
        width: 20px;
        margin: 10px auto;
    }

    .main-26 .content {
        padding: 30px 0 0 0;
        flex-wrap: wrap;
    }

    .main-26 .content .item {
        width: 48%;
        margin: 0 auto 60px;
        height: 100px;
    }

    .main-26 .content .item>p {
        font-size: 15px;
        padding: 40px 0 20px 0;
    }

    .main-26 .content .item .photo {
        left: 30%;
        width: 70px;
        height: 71px;
    }

    .main-27 {
        height: 200px;
        background-image: url(../img/q14.jpg);
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-28 .list .turn {
        left: 60vw;
    }

    .main-28 {
        padding: 0 0 25px 0;
    }

    .main-28 .title {
        padding: 0 0 10px 0;
    }

    .main-28 .title p:nth-child(1) {
        padding: 30px 0 5px 0;
        font-size: 22px;
    }

    .main-28 .title p:nth-child(2) {
        width: 10px;
        padding: 2px 15px;
        margin: 10px auto;
    }

    .main-28 .content .list .photo {
        display: none;
    }

    .main-28 .content .list .text-2 {
        padding: 30px 0 53px 0;
        width: 100vw;
    }


    .main-28 .content .list .text-2>a>p {
        font-size: 18px;
        width: 95vw;
        margin: 0 auto;
    }

    .main-28 .content .list .text-2>p:nth-child(2) {
        margin: 10px auto;
        width: 95vw;
        line-height: 25px;
        -webkit-line-clamp: 2;
        font-size: 15px;
    }


    .main-28 .content .list .text-2 p:nth-child(3) a {
        padding: 5px 25px;
        margin: 0 0 0 15px;
    }

    .main-28 .content .list {
        margin: 0 0 15px 0;
    }

    .return {
        display: none !important;
    }

    .main-28 .more {
        margin: 15px auto;
        padding: 6px 7px;
        width: 110px;
    }

    .main-28 .more a {
        padding: 8px 20px;
    }

    .main-28 .more p {
        width: 118px;
    }



    /*新闻详情*/
    .main-29 {
        background: #fff;
    }

    .main-29 .title p:nth-child(1) {
        font-size: 18px;
        padding: 30px 0 15px 0;
    }

    .main-29 .title p:nth-child(2) {
        padding: 0 0 15px 0;
    }

    .main-29 .content {
        width: 95%;
        font-size: 15px;
        padding: 0 0 50px 0;
    }

    .main-29 .content p {
        padding: 0 0 10px 0;
        line-height: 25px;
    }

    .main-29 .content .picture .photo {
        width: 95vw;
        height: 124px !important;
        margin: 5px 0;
    }

    .main-29 .content .picture .photo img {
        max-width: 100%;
    }

    .four .main-29 .content .photo,
    .five .main-29 .content .photo,
    .six .main-29 .content .photo,
    .zero .main-29 .content .photo,
    .seven .main-29 .content .photo,
    .nine .main-29 .content .photo,
    .two .main-29 .content .photo,
    .eight .main-29 .content .photo {
        height: auto !important;
    }


    .main-28 .list:hover .turn a {
        perspective: none;
        color: #3979af;
    }

    .main-28 .list:hover .turn .roll1 {
        border: 1px solid #3979af;
    }




    .eleven .main-29 .content .photo {
        height: auto !important;
        width: 95vw !important;
    }

    .eleven .main-29 .content .photo img {
        max-width: 100%;
    }

    .twelve .main-29 .content .photo {
        width: 95vw !important;
    }

    .twelve .main-29 .content .photo img {
        max-width: 100%;
    }


    .news-details .main-29 .content .photo {
        width: 95vw;
        height: auto;
    }

    .news-details .main-29 .content .photo img {
        max-width: 100%;
    }






    /*行业案例*/
    .main-30 {
        height: 180px;
        background-image: url(../img/q4.jpg);
        /* background-position: 0 30px; */
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-31 {
        background: #fff;
    }

    .main-31 .content {
        padding: 30px 0 15px 0;
    }

    .main-31 .content .list:hover .a1 {
        display: none;
    }

    .main-31 .content .list {
        width: 45%;
        padding: 15px 0;
        height: auto;
        margin: 10px auto;
    }

    .main-31 .content .photo {
        width: 53px;
    }

    .main-31 .content .text-3 {
        width: 100%;
        opacity: 1;
        position: static;
        padding: 10px 0;
        pointer-events: none;
        background: 0;
        height: auto;
        color: rgba(76, 134, 182, 0.8);
    }

    .main-31 .list p:nth-child(1) {
        font-size: 16px;
        text-align: center;
        padding: 0 0 10px 0;
    }

    .main-31 .list p:nth-child(2) {
        /* display: none; */
        margin: 0;
    }

    .main-31 .list p:nth-child(3) {
        padding: 0 5px;
    }



    /*特殊货物*/
    .main-32 {
        height: 180px;
        background-image: url(../img/q5.jpg);
        background-position: 0 0;
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-33 .title {
        padding: 30px 0 15px 0;
    }

    .main-33 .w .title p:nth-child(1) {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .main-33 .content {
        padding: 0 0 30px 0;
    }

    .main-33 .title p:nth-child(2) {
        margin: 0 auto;
        width: 30px;
        padding: 2px 8px;
    }

    .main-33 .content .list .photo {
        width: 33vw;
        height: 82px;
    }

    .main-33 .content .list {
        pointer-events: none;
        margin: 0;
    }

    .main-33 .content .text-4 {
        opacity: 0;
        padding: 5px 0;

    }

    .main-34 .title {
        font-size: 22px;
        padding: 30px 0 20px 0;
    }

    .main-34 .title p:nth-child(1) {
        padding-bottom: 10px;
    }

    .main-34 .title p:nth-child(2) {
        padding: 2px 15px;
        width: 30px;
    }

    .main-34 .content {
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: end;
    }

    .main-34 .content .list .photo {
        width: 190px;
        height: 185px;
    }

    .main-34 .content .list>p:nth-child(2) {
        font-size: 17px;
        width: 190px;
    }

    .main-34 .content .bottom p:nth-child(1) {
        font-size: 16px;
    }

    .main-34 .content .bottom p:nth-child(2) {
        font-size: 20px;
    }

    .main-34 .content .bottom {
        justify-content: space-between;
    }

    .main-34 .content .list {
        margin: 0 auto 20px;
        width: 45%;
    }



    /*物流方案*/
    .main-35 {
        height: 183px;
        background-image: url(../img/q6.jpg);
        background-position: 0 0;
        background-size: cover;
        background-attachment: scroll;
    }


    .main-36 p {
        width: auto;
        opacity: 1;
        padding: 3px 5px;
        position: static;
        height: 73%;
        color: #000;
    }

    .main-36 p {
        padding: 20px 10px 10px;
    }


    .main-36 {
        padding: 30px 0 20px 0;
    }





    .main-37 {
        padding: 20px 0;
        width: 95vw;
    }

    .main-37 #o {
        height: 210px;
    }

    .main-38 .title {
        padding: 30px 0 15px 0;
        font-size: 22px;
    }

    .main-38 .title p:nth-child(2) {
        width: 40px;
        margin: 10px auto;
    }

    .main-38 .content {
        padding: 0 0 30px 0;
    }



    /*保险*/
    .main-39 {
        height: 200px;
        background-image: url(../img/q7.jpg);
        background-position: 0 0;
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-40 {
        background: #fff;
    }

    .main-40 .content {
        padding: 30px 0;
    }

    .main-40 .content .list {
        width: 48%;
        margin: 0px 0 10px 5px;
        height: 120px;
    }

    .main-40 .content .list p:nth-child(1) {
        width: 77px;
        margin: 10px 0 10px -1px;
        padding: 3px 0px 5px 34px;
    }

    .main-40 .content .list p:nth-child(2) {
        padding: 5px 12px;
        font-size: 14px;
    }


    .main-41 {
        height: 313px;
        background-position: 0 0;
        background-size: 100%;
        background-attachment: scroll;
        background: url('../img/q8.jpg')no-repeat center right;
    }

    .main-42 {
        height: 170px;
        background-image: url(../img/q9.jpg);
        background-position: 0 0;
        background-size: 100%;
        background-attachment: scroll;
    }


    .main-43 .content .list {
        width: 48%;
        margin: 0 0 10px 5px;
        height: 115px;
    }

    .main-43 .content .list:last-child {
        align-self: flex-start;
    }

    .main-43 .content {
        padding: 20px 0;
    }

    .main-43 .content .list p:nth-child(2) {
        font-size: 13px;
        width: 165px;
        padding: 0 0 10px 15px;
    }

    .main-44 .content .list {
        width: 48%;
        margin: 0px 0 11px 4px;
    }

    .main-44 .content {
        flex-wrap: wrap;
        justify-content: end;
        padding: 30px 0;
    }

    .main-44 .photo {
        width: 180px;
        height: 111px;
    }

    .main-44 .top p:nth-child(1) {
        font-size: 14px;
    }

    .main-45 {
        height: 200px;
        background-attachment: scroll;
    }

    .main-46 .content .list {
        width: 45%;
        margin: 0 auto 15px;
        height: 115px;
    }

    .main-46 .content .list p:nth-child(1) {
        margin: 10px 0;
        width: 77px;
        padding: 2px 0 5px 34px;
    }

    .main-46 .content .list p:nth-child(2) {
        padding: 0 0 13px 25px;
        font-size: 15px;
        width: 37vw;
    }

    .main-46 .content .smart_content_wrapper{
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .main-47 {
        height: 183px;
        background-image: url(../img/q11.jpg);
        background-size: cover;
        background-position: 0 0;
        background-attachment: scroll;
    }

    .main-48 .content {
        padding: 20px 0;
    }

    .main-48 .content .list {
        width: 45%;
        margin: 0 9px 15px;
        height: 115px;
    }

    .main-48 .content .list p:nth-child(1) {
        margin: 10px 0;
        width: 50px;
        padding: 2px 0 5px 34px;
    }

    .main-48 .content .list p:nth-child(2) {
        padding: 0 0 13px 25px;
        font-size: 15px;
        width: 37vw;
    }

    .main-49 .title {
        padding: 20px 0;
    }

    .main-49 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-49 .title p:nth-child(2) {
        width: 45px;
        padding: 2px 2px;
        margin: 10px auto;
    }

    .main-49 .title p:nth-child(3) {
        font-size: 17px;
    }

    .main-49 .bottom .photo {
        width: 100vw;
    }

    .main-49 .bottom .photo img {
        max-width: 100%;
    }

    .main-49 .top {
        top: -96px;
        left: 10px;
        font-size: 12px;
    }

    .main-49 .top li img {
        width: 15px;
        height: 18px;
    }

    .main-49 .top li {
        padding: 2px 0;
    }


    .main-50 .content {
        display: block;
    }

    .main-50 .title {
        padding: 20px 0 15px 0;
    }


    .main-50 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-50 .title p:nth-child(2) {
        width: 40px;
        padding: 2px 0;
        margin: 10px auto;
    }

    .main-50 {
        padding: 0 0 20px 0;
    }

    .main-50 .content .photo {
        padding: 0 8px;
    }

    .main-51 {
        height: 218px;
        background-image: url(../img/q12.jpg);
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-52 .content .smart_content_wrapper {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .main-52 .content .list {
        width: 45%;
        margin: 0 auto 15px;
        height: 125px;
    }

    .main-52 .content .list p:nth-child(1) {
        margin: 10px 0;
        width: 50px;
        padding: 3px 0 5px 34px;
    }

    .main-52 .content .list p:nth-child(2) {
        padding: 0 0 13px 25px;
        font-size: 15px;
        width: 37vw;
    }

    .main-53 .title {
        padding: 20px 0 15px 0;
    }

    .main-53 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-53 .title p:nth-child(2) {
        width: 50px;
        margin: 10px auto;
    }

    .main-53 .title p:nth-child(3) {
        font-size: 16px;
    }

    .main-53 .bottoma .photo {
        width: 100vw;
    }

    .main-53 .bottoma .photo img {
        max-width: 100%;
    }


    .main-53 .topa {
        top: -96px;
        left: 10px;
        font-size: 12px;
    }

    .main-53 .topa li img {
        width: 15px;
        height: 18px;
    }

    .main-53 .topa li {
        padding: 2px 0;
    }


    .main-54 {
        padding: 0 0 20px 0;
    }

    .main-54 .title {
        padding: 20px 0 15px 0;
    }

    .main-54 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-54 .title p:nth-child(2) {
        width: 40px;
        margin: 10px auto;
    }

    .main-55 {
        height: 218px;
        background-image: url(../img/q13.jpg);
        background-position: 0 0;
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-56 .content {
        padding: 20px 0;
        justify-content: end;
    }

    .main-56 .content .list {
        width: 45%;
        margin: 0 0 13px 13px;
        height: 115px;
    }

    .main-56 .content .list p:nth-child(1) {
        margin: 10px 0;
        width: 50px;
        padding: 2px 0 5px 34px;
    }

    .main-56 .content .list p:nth-child(2) {
        padding: 0 0 13px 25px;
        font-size: 15px;
        width: 37vw;
    }

    .main-57 .title {
        padding: 20px 0;
    }

    .main-57 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-57 .title p:nth-child(2) {
        width: 40px;
        margin: 10px auto;
    }

    .main-57 .title p:nth-child(3) {
        font-size: 16px;
    }



    /*首页端到端*/
    .main-58 {
        height: 160px;
        background-size: 100%;
    }

    .main-59 {
        padding: 15px 0;
    }

    .main-60 .w {
        flex-wrap: wrap;
        padding: 15px 0;
        justify-content: end;
    }

    .main-60 .list {
        width: 48%;
        background: #fff;
        margin: 0 0 16px 5px;
    }


    .main-60 .list p:nth-child(1) {
        background: #4c86b6;
        color: #fff;
        width: 0;
        padding: 7px 45px;
        margin: 15px 0 0 0;
    }


    .main-60 .list p:nth-child(2) {
        padding: 5px 3px;
        margin: 10px 0 0 0;
        font-size: 14px;
        height: auto;
    }

    .main-61 {
        padding: 20px 0;
    }

    .main-61 #o,
    .main-65 #o {
        height: 200px;
    }





    /* 首页供应链管理可视化 */

    .main-62 {
        height: 160px;
        background-attachment: fixed;
        background-image: url('../img/photo-76.jpg');
        background-repeat: repeat-x;
        background-size: 100%;
        background-position: 0 0;
    }

    .main-63 {
        padding: 15px 0;
    }

    .main-64 .w {
        padding: 15px 0;
    }

    .main-64 .list {
        width: auto;
    }


    .main-65 {
        padding: 15px 0;
    }



    /*首页定制化客户服务*/
    .main-66 {
        height: 160px;
        background-size: 100%;
    }

    .main-67 {
        padding: 15px 0;
    }

    .main-68 .w {
        padding: 15px 0;
        flex-wrap: wrap;
        justify-content: end;
    }

    .main-68 .list {
        width: 48%;
        background: #fff;
        margin: 0 0 15px 5px;
    }

    .main-68 .list p:first-child {
        font-size: 15px;
    }


    .main-68 .list p {
        padding: 5px 3px;
        font-size: 14px;
    }




    /*首页优势航线的高品质服务*/
    .main-69 {
        height: 145px;
        background-size: 100%;
    }

    .main-70 {
        padding: 15px 0;
    }

    .main-71 .w {
        padding: 15px 0;
        justify-content: end;
    }

    .main-71 .list {
        margin: 0 0 15px 16px;
        width: 45%;
        height: 130px;
    }

    .main-71 .list p:nth-child(1) {
        padding: 5px 30px;
        margin: 10px 0 0 0;
    }


    .main-71 .list p:nth-child(2) {
        padding: 10px 5px;
        margin: 0;
    }



    /*底部*/
    .footer-top {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-top>ul {
        padding: 0 15px;
    }

    .footer-top>ul>li:first-child a {
        padding: 10px 0 15px 0;
    }

    .footer-top .media {
        padding: 0 0 10px 13px;
    }

    .footer-top .media>li {
        text-align: left;
    }

    .footer .media ul li a {
        width: 36px;
        height: 35px;
        display: block;
    }

    .footer .media ul li a img {
        max-width: 100%;
    }

    .footer-bottom {
        padding: 10px 0;
        font-size: 13px;
    }

    .main-1 .swiper-wrapper,
    .carousel_a .swiper-wrapper {
        display: flex;
    }

    .main-3_bottom a:first-child .photo {
        background: url(../img/a9.png) no-repeat;
        margin: 16px 0 0 22px;
        height: 51px;
    }

    .main-3_bottom a:nth-child(2) .photo {
        background: url(../img/a10.png) no-repeat;
        margin: 18px 5px 0 15px;
    }

    .main-3_bottom a:nth-child(3) .photo {
        background: url(../img/a11.png) no-repeat;
        height: 43px;
        margin: 25px 0 0 7px;
    }

    .main-3_bottom a:nth-child(4) .photo {
        background: url(../img/a12.png) no-repeat;
        height: 46px;
        margin: 15px 0px 0 31px;
    }

    .main-3_bottom a:nth-child(4) .photo {
        width: auto;
    }

    .main-43 .content .list p:nth-child(1) {
        width: 81px;
        padding: 3px 0 6px 34px;
        margin: 10px 0;
    }


    .main-28 .content .list .text-2>a p:nth-child(1) {
        font-size: 18px;
    }

    .main-28 .content .list:hover .text-2 {
        background: #fff;
    }

    .main-28 .content .list:hover .text-2 p:nth-child(1) {
        color: rgba(56, 50, 50);
    }

    .main-28 .content .list:hover .text-2 p:nth-child(2) {
        color: #666;
    }

    .main-29 .content .photo img {
        max-width: 100%;
    }

    /* 原来没有，新添加的样式 */
    .container {
        padding: 0;
    }



}

@media screen and (max-width:375px) {

    .main-5 .text-1 {
        height: 91%;
    }

    .header-right .ooo li:hover .second-level {
        height: 190px;
    }

    .header-right .ooo .t_c:hover .second-level {
        padding: 20px 0 0 0;
    }

    .header-right .ooo li:hover .second-level {
        padding: 20px 0 0 0;
    }

    .guanbi {
        right: 43%;
    }
}

@media screen and (max-width:320px) {
    .main-5 .text-1 {
        height: 99%;
    }

    .main-5 .photo {
        height: 132px;
    }

    .main-5 .text-1 p:nth-child(1) {
        font-size: 18px;
    }

    .main-15 .item .icon:nth-child(2) {
        height: 180px;
    }

    .main-15 .item {
        height: auto;
    }

    .main-15 .item .nn {
        width: 100px;
        padding: 10px 0;
    }

}

/*平板最大900px*/
@media screen and (min-width:767px) and (max-width:1199px) {

    ul,
    li {
        margin: 0;
    }

    .list,
    .item {
        box-shadow: 0 0 0 0 !important;
    }

    .w {
        width: 100vw;
    }

    .container {
        width: 100vw;
    }

    /*菜单图标*/
    .icon,
    .header-right img {
        display: block;
    }

    .icon .icon-ego-menu,
    .icon .icon-guanbi {
        font-size: 27px;
    }

    .header-right ul,
    .switch,
    /* .chunk, */
    .main-8 .dot,
    .main-8 .container,
    .main-8 .wire,
    /*.main-1*/
    /*.main-2*/
    /*,.main*/
    /*.insert,*/
    .switch,
    .p {
        display: none;
    }


    .header {
        padding: 15px 0;
    }

    .header-left {
        padding: 0 0 0 20px;
    }

    .header .container {
        display: block;
    }

    .header-right {
        position: relative;
        display: block;
    }

    .header-right ul li {
        width: 100vw;
        border-bottom: 1px solid #e6e6e6;
        margin: 0;
    }



    .header-right>.icon {
        position: absolute;
        top: -30px;
        right: 30px;
    }

    .header-right>ul>li {
        padding: 15px 0;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        height: 100%;
        z-index: 99999;
        background: #fff;
    }

    .header-right .ooo {
        height: 100%;
        background: #fff;
        width: 100vw;
    }

    .header-right>ul>li img {
        position: absolute;
        top: -74%;
        right: 14%;
    }

    .header-right>ul>li a {
        /* padding: 0 0 0 20px; */
    }

    .header-right .icon-guanbi {
        display: none;
    }

    .second-level {
        position: static;
        padding: 0;
    }

    .second-level li {
        /*border-bottom: 2px solid #4b85b6;*/
    }

    .ooo li a {
        text-align: left !important;
        padding: 0 0 0 20px;
    }

    .t_a .second-level {
        padding: 20px 0 0 0;
    }

    .header-right .second-level li a {
        padding: 8px 0 8px 40px;
    }

    .new {
        position: relative;
    }

    .new img {
        width: 10px;
        height: 6px;
        padding: 23px;
    }

    .main-1 .swiper-container {
        height: 200px;
    }

    .header-right .ooo li:hover .second-level {
        width: 100%;
        left: 0;
        height: 211px;
        padding: 10px 0 0 0;
        top: 47px;
    }

    .header-right .ooo .t_a:hover .second-level {
        height: 263px;
    }

    .header-right .ooo .t_c:hover .second-level {
        height: 263px;
    }





    /*首页图标滑动*/
    .insert {
        margin: 50px 0 0 0;
        padding: 20px 0;
    }

    .main-1_list {
        padding: 50px 0;
    }

    .main-1_list .item {
        width: 19%;
        /* pointer-events: none; */
        box-shadow: 0 0 0 0;
    }

    .main-1_list .item>p {
        font-size: 14px;
        width: auto;
        margin: 8px 0 0 0;
    }

    .main-1_list .photo {
        width: 55px;
        height: 55px;
        top: -32px;
        left: 30%;
    }

    .main-1_list .item .item-top {
        display: block;
    }

    .main-1_list .item-top p:nth-child(1) {
        font-size: 14px;
        padding: 45px 6px 25px;
        text-align: left;
        height: 65px;
    }

    .main-1_list .item-top p:nth-child(2) {
        padding: 0;
    }

    .main-1_list .item-top p:nth-child(2) a {
        padding: 2px 5px;
    }

    .main-1_list .item:first-child .item-top p:first-child {
        position: static;
    }

    .main-1_list .item:first-child .item-top p:last-child {
        position: static;
    }

    .main-1_list .item:hover .photo {
        pointer-events: none;
        top: -32px;
        left: 47px;
    }



    .header-right>ul>li:nth-child(even):after {
        display: none;
    }

    .main-1 {
        height: 203px;
    }

    .main-2 {
        height: 360px;

    }


    .main-2 {
        margin: 20px 0 0 0;
        background-attachment: scroll;
    }

    .main-2 .main-2_top p:nth-child(1) {
        padding: 40px 0 9px 0;
    }

    .main-2 .main-2_top p:nth-child(2) {
        padding-bottom: 20px;
    }

    .main-2_middle .list {
        margin: 0 20px;
        width: 23%;
        padding: 5px 10px;
    }

    .main-2_bottom a {
        padding: 8px 35px;
    }

    .main-3 {
        height: 350px;
        background-attachment: scroll;
    }

    .main-3 .title {
        padding: 40px 0 35px 0;
    }



    /*关于我们*/
    .main-4 {
        height: 236px;
    }

    .main-5 .title {
        font-size: 25px;
        padding: 35px 0 20px 0;
    }

    .main-5 .title p:nth-child(2) {
        margin: 10px auto;
        width: 10px;
    }

    .main-5 .photo+p {
        padding: 20px 30px;
        margin: 0 0 20px 0;
    }

    .main-5 .content>p {
        padding: 0 30px 10px;
        margin: 20px 0 10px 0;
    }

    .main-5 .text-1 p:nth-child(1) {
        font-size: 30px;
        padding: 30px 0;
    }

    .main-5 .text-1 p:nth-child(3) {
        font-size: 30px;
        padding: 30px 0 0 0;
    }

    .main-5 .text-1 {
        padding: 0 0 0 30px;
        left: 0;
        width: 30%;
    }

    .main-6 {
        padding: 30px 0;
    }

    .main-6 .container {
        width: 95vw;
        margin: 0 auto;
    }

    .main-7 {
        height: 350px;
        background-size: cover;
        background-attachment: scroll;
    }

    .main-8 {
        padding: 20px 0;
    }

    .main-9 {
        background-size: cover;
        height: 350px;
        background-attachment: scroll;
    }


    .main-10 .list {
        padding: 30px 0 10px 0;
    }

    .main-10 .list .item {
        margin: 10px auto;
        width: 30%;
    }

    .main-10 .list .item p:nth-child(1) {
        font-size: 18px;
    }

    .main-10 .list .item p:nth-child(2) {
        padding: 15px 5px;
        font-size: 16px;
    }



    /*全球集团*/
    .main-11 {
        height: 267px;
        background-attachment: scroll;
    }

    .main-12 .title {
        padding: 40px 0 20px 0;
        font-size: 22px;
    }

    .main-12 .title p:nth-child(2) {
        margin: 10px auto;
    }

    .main-12 .content {
        padding: 0 20px;
    }

    .container {
        padding: 0;
        margin: 0;
    }

    .main-12 .content .photo+p {
        padding: 20px 0 10px;
    }

    .main-13 {
        padding: 30px 0;
    }

    .main-13 .container {
        width: 95vw;
        margin: 0 auto;
    }

    .main-6 #o {
        width: 95vw;
    }

    .main-14 {
        height: 314px;
        background-attachment: scroll;
        background-size: 100%;
        background: url('../img/q21.jpg') no-repeat center top;
    }

    .main-15 {
        padding: 30px 0 0 0;
    }

    .main-15 .container {
        width: 97vw;
        margin: 0 auto;
    }

    .main-15 .item {
        width: 30%;
        margin: 10px auto;
    }



    /*联系我们*/
    .main-16 {
        height: 283px;
        background-attachment: scroll;
        background-position: 0;
    }

    .main-17 .title {
        padding: 30px 0 20px 0;
        font-size: 25px;
    }

    .main-17 .title p:nth-child(2) {
        width: 20px;
        padding: 2px 10px;
        margin: 10px auto;
    }

    .main-17 .title p:nth-child(2) {
        font-size: 18px;
    }

    .main-18 {
        background: url(../img/photo-86.jpg) no-repeat center top;
        background-size: cover;
        height: 300px;
    }

    .main-18 .photo>img {
        display: none;
    }

    .main-19 .title {
        padding: 30px 0 20px 0;
        font-size: 25px;
    }

    .main-19 .title p:nth-child(2) {
        width: 20px;
        margin: 10px auto;
        padding: 2px 10px;
    }

    .main-19 .title p:nth-child(3) {
        font-size: 18px;
    }

    .main-19 .item {
        width: 30%;
        margin: 10px auto;
    }

    .main-19 .item>p {
        padding: 5px 8px;
        width: 120px;
        font-size: 16px;
    }

    .main-19 .icon {
        padding: 10px 20px;
    }

    .main-19 p+.icon {
        padding: 15px 20px 5px;
    }

    .main-19 {
        padding: 0 0 32px 0;
    }

    .main-20 .title {
        padding: 30px 0 20px 0;
        font-size: 25px;
    }

    .main-20 .title p:nth-child(2) {
        width: 15px;
        margin: 10px auto;
        padding: 2px 13px;
    }

    .main-20 .title p:nth-child(3) {
        font-size: 18px;
    }

    .main-20 .item {
        width: 30%;
        margin: 10px auto;
    }

    .main-20 .item>p {
        padding: 5px 10px;
        font-size: 16px;
        width: 100px;
    }

    .main-20 p+.icon {
        padding: 10px 20px 5px;
    }

    .main-20 .icon {
        padding: 10px 20px;
    }

    .main-20 {
        padding-bottom: 20px;
    }

    .main-21 {
        padding-top: 30px;
    }

    .main-21 .input_c {
        padding: 15px 0 30px;
    }



    /*加入我们*/
    .main-22 {
        height: 230px;
    }

    .main-23 .title {
        padding: 30px 0 20px 0;
        font-size: 25px;
    }

    .main-23 .title p:nth-child(2) {
        width: 10px;
        padding: 2px 20px;
        margin: 10px auto;
    }

    .main-23 .title p:nth-child(3) {
        font-size: 16px;
        line-height: 25px;
    }

    .main-25 {
        position: static;
    }

    .main-25 .content {
        padding: 20px 0;
    }

    .main-25 .content .left {
        font-size: 70px;
    }

    .main-25 .content .item p:nth-child(1) {
        font-size: 20px;
    }

    .main-25 .content .item p:nth-child(2) {
        font-size: 20px;
    }

    .main-26 .title {
        padding: 30px 0 20px 0;
        font-size: 25px;
    }

    .main-26 .title p:nth-child(2) {
        width: 10px;
        padding: 2px 13px;
        margin: 10px auto;
    }

    .main-26 .content .item>p {
        font-size: 16px;
        padding: 30px 0 20px;
    }

    .main-26 .content .item .photo {
        width: 60px;
        height: 60px;
        left: 60px;
    }

    .main-26 .content .item {
        padding: 0 5px;
        height: 115px;
        width: 175px;
        margin: 0 0 20px -2px;
    }

    .main-26 {
        padding: 0 0 30px 0;
    }



    /*新闻咨询*/
    .main-27 {
        height: 231px;
        background-size: 100%;
    }

    .main-28 .title p:nth-child(1) {
        font-size: 25px;
        padding: 30px 0 10px;
    }

    .main-28 .title p:nth-child(2) {
        width: 10px;
    }

    .main-28 .title {
        padding: 0 0 20px 0;
    }

    .main-28 .content .list .photo {
        width: 300px;
        height: 190px;
        overflow: hidden;
    }

    .main-28 .content .list .text-2 {
        padding: 13px 0 0 8px;
        width: 59%;
    }

    .main-28 .content {
        width: 97vw;
        margin: 0 auto;
    }

    /*     .main-28 .content .list .text-2 p:nth-child(1) {
        font-size: 20px;
    } */

    .main-29 .content {
        width: 97vw;
        margin: 0 auto;
        padding: 0 0 30px 0;
    }

    .main-29 .content .picture {
        /* flex-wrap: nowrap; */
    }

    .main-29 .content .picture .photo {
        height: 300px;
    }


    .main-30 {
        background-size: 100%;
        height: 160px;
    }

    .main-31 .content {
        padding: 15px 0 10px 0;
    }

    .main-31 .content .list {
        padding: 19px 21px 10px 21px;
        margin: 10px auto;
        height: auto;
        width: 42%;
    }

    .main-31 .content .text-3 {
        width: 90%;
        padding: 4px 12px 13px 12px;
        opacity: 1;
        height: 211px;
        color: #000;
        position: static;
    }

    .main-31 .list p:nth-child(1) {
        font-size: 18px;
    }

    .main-31 .content .photo {
        width: 65px;
    }


    .main-31 .list p:nth-child(2) {
        width: 100%;
        margin: 5px auto;
    }


    .main-32 {
        height: 240px;
        /*background-size:;*/
        background-position: 0 0;
    }

    .main-34 .content .list .photo {
        width: 220px;
    }

    .main-33 .title {
        text-align: center;
        padding: 30px 0 15px 0;
    }

    .main-33 .w .title p:nth-child(1) {
        font-size: 22px;
        padding: 0;
    }

    .main-33 .title p:nth-child(2) {
        width: 15px;
        padding: 2px 10px;
        margin: 10px auto;
    }

    .main-33 .content {
        padding: 0 0 20px 0;
        justify-content: space-evenly;
        /* margin: 0 0 0 -45px; */
    }

    .main-33 .content .list {
        width: 20%;
    }

    .main-33 .content .list .photo {
        width: 200px;
        height: 121px;
        overflow: hidden;
    }

    .main-33 .content .text-4 {
        font-size: 18px;
        padding: 23px 13px 20px;
        opacity: 1;
        height: 77px;
    }

    .main-33 .text-4 p:nth-child(2) {
        font-size: 16px;
    }

    .main-33 .text-4 p:nth-child(1) {
        font-size: 14px;
    }

    .main-33 .text-4 p:nth-child(3) {
        width: 50px;
        margin: 5px 0 0 45px;
    }


    .main-34 .title {
        font-size: 22px;
        padding: 30px 0 15px 0;
    }

    .main-34 .title p:nth-child(1) {
        padding: 0;
    }

    .main-34 .title p:nth-child(2) {
        width: 40px;
        padding: 2px 0;
        margin: 10px auto;
    }

    .main-34 .content {
        flex-wrap: wrap;
    }

    .main-34 .content .list>p:nth-child(2) {
        font-size: 18px;
    }

    .main-34 .content .bottom p:nth-child(2) {
        font-size: 25px;
    }

    .main-34 .content .list {
        margin: 0 10px;
    }


    .main-35 {
        height: 160px;
        background-size: 100%;
        background-position: 0 0;
    }


    .main-36 {
        padding: 20px 0 39px 0;
    }

    .main-36 ul {
        display: none;
    }





    .main-37 {
        padding: 30px 0;
    }


    .main-38 .title {
        padding: 30px 0 15px 0;
    }

    .main-38 {
        font-size: 22px;
    }

    .main-38 .title p:nth-child(2) {
        padding: 2px 0;
        width: 50px;
        margin: 10px auto;
    }

    .main-38 .content {
        padding: 0 0 20px 0;
    }

    .main-39 {
        height: 178px;
        background-size: 100%;
        background-position: 0 0;
    }

    .main-40 .content {
        padding: 30px 0;
    }

    .main-40 .content .list {
        width: 24%;
        margin: 0 0 10px 6px;
    }

    .main-40 .content .list p:nth-child(2) {
        padding: 0 0 20px 34px;
    }

    .main-41 {
        height: 250px;
        background-position: 0 0;
        background-size: cover;
    }

    .main-42 {
        height: 160px;
        background-position: 0 0;
        background-size: 100%;
    }

    .main-43 .content {
        padding: 30px 0;
        /* justify-content: space-around; */
    }

    .main-43 .content .list p:nth-child(2) {
        padding: 0 20px 20px 20px;
        font-size: 16px;
        color: #666;
        width: auto;
    }

    .main-43 .content .list {
        width: 23%;
        margin: 10px 0 10px 11px
    }

    .main-44 .content {
        flex-wrap: wrap;
        padding: 30px 0;
        justify-content: end;
    }

    .main-44 .list {
        margin: 0 0 15px 22px;
    }

    .main-45 {
        height: 320px;
        background-attachment: scroll;
    }

    .main-46 .content {
        padding: 30px 0;
    }

    .main-46 .content .list p:nth-child(2) {
        padding: 0 32px 20px 32px;
        font-size: 16px;
        width: auto;
    }

    .main-46 .content .list {
        width: 32%;
        margin: 0 0 10px 8px;
    }

    .main-47 {
        height: 190px;
        background-size: 100%;
    }

    .main-48 .content {
        padding: 30px 0;
        justify-content: space-around;
    }

    .main-48 .content .list p:nth-child(2) {
        padding: 0 5px 20px 22px;
        font-size: 16px;
        width: auto;
    }

    .main-48 .content .list {
        width: 30%;
        box-sizing: border-box;
        margin: 10px 11px;
    }

    .main-49 .title {
        padding: 30px 0 15px 0;
    }

    .main-49 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-49 .title p:nth-child(2) {
        width: 40px;
        padding: 2px 0;
        margin: 10px auto;
    }

    .main-49 .title p:nth-child(3) {
        font-size: 18px;
    }

    .main-49 .top {
        position: absolute;
        top: -87px;
        left: 40px;
        font-size: 16px;
    }

    .main-49 .bottom img {
        max-width: 100%;
    }

    .main-49 .top li {
        padding: 3px 0;
    }

    .main-49 .top li img {
        max-width: 100%;
        width: 19px;
        height: 22px;
    }

    .main-50 .title {
        padding: 30px 0 15px 0;
    }

    .main-50 .title p:nth-child(1) {
        font-size: 22px;
    }

    .main-50 .title p:nth-child(2) {
        width: 40px;
        padding: 2px 0;
        margin: 10px auto;
    }

    .main-52 .content .list p:nth-child(2) {
        width: auto;
    }

    .main-52 .content .list {
        margin: 0 0 15px 14px;
        width: 31%;
    }

    .main-53 .topa {
        top: -83px;
        left: 13px;
        font-size: 16px;
    }

    .main-53 .topa li img {
        width: 19px;
        height: 22px;
    }

    .main-56 .content .list p:nth-child(2) {
        width: auto;
    }

    .main-56 .content .list {
        width: 31%;
        margin: 0 0 14px 13px
    }


    .main-69 {
        height: 345px;
    }

    /*底部*/
    .footer-top>ul {
        padding: 0 30px;
    }

    .footer-top .media {
        padding: 0 0 0 0;
    }

    .footer-top>ul>li:first-child a {
        text-align: left;
    }

    .main-28 .content .list .text-2>p:nth-child(2) {
        margin: 30px 0 8px;
    }

    .main-28 .list .turn {
        left: 35vw;
    }

    .main-28 .content .list .text-2>a p:nth-child(1) {
        font-size: 18px;
    }

    .main-15 .item .icon:nth-child(2) {
        height: 95px;
    }

    .main-18,
    .main-17 {
        display: none;
    }

    .shaow .photo {
        width: 95vw;
    }

    .shaow .photo {
        max-width: 100%;
    }

    .shaow_a {
        left: 10%;
    }

    .shaow .guanbi {
        top: -42px;
        right: -17px;
    }

    .insert {
        display: none;
    }


    .carousel_a {
        display: block;
        padding: 30px 0 0 0;
    }

    .carousel_a .swiper-wrapper .swiper-slide {
        display: block;
    }

    .carousel_a .swiper-wrapper {
        height: 200px;
    }

    .s {
        display: none;
    }

    .case .main-31 .list:hover .a1 {
        display: none;
        opacity: 0;
        perspective: none;
    }

    .case .main-31 .list:hover .text-3 {
        display: block;
        opacity: 1;
        perspective: none;
    }

    .main-31 .content .a1 {
        opacity: 1;
        /* visibility: visible; */
    }


    .main-53 .photo,
    .main-49 .photo {
        width: 87vw;
    }

    .active_b {
        width: 208px;
    }

    .main-55 {
        background-position: center right;
    }

    .one .content .photo,
    .two .content .photo,
    .three .content .photo,
    .four .content .photo,
    .five .content .photo,
    .six .content .photo,
    .seven .content .photo,
    .eight .content .photo,
    .nine .content .photo,
    .zero .content .photo,
    .eleven .content .photo,
    .twelve .content .photo {
        width: 95vw !important;
        height: auto !important;
        margin: 0 auto;
    }

    .one .content .photo img,
    .two .content .photo img,
    .three .content .photo img,
    .four .content .photo img,
    .five .content .photo img,
    .six .content .photo img,
    .seven .content .photo img,
    .eight .content .photo img,
    .nine .content .photo img,
    .zero .content .photo img,
    .eleven .content .photo img,
    .twelve .content .photo img {
        max-width: 100%;
    }

    .news-details .main-29 .photo {
        width: 95vw;
        margin: 0 auto;
        /* height: 235px!important; */
    }

    .news-details .main-29 .photo img {
        max-width: 100%;
    }

    .main-11 .chunk p:nth-child(1) {
        font-size: 20px;
    }

    .main-11 .chunk p:nth-child(2) {
        font-size: 18px;
    }

    .main-11 .chunk {
        /* float: right; */
        margin: 68px 0;
        background: rgba(76, 134, 182, 0.5);
        color: #fff;
        padding: 16px 150px 16px 45px;
    }

    .main-14 .chunk {
        display: none;
    }

    .main-32 {
        background-size: 100%;
    }

    .main-33 .text-4 {
        display: none;
    }

    .main-34 .i,
    .main-34 .ii {
        display: none;
    }

    .chunk {
        margin: 68px 0 !important;
        padding: 16px 100px 16px 45px !important;
    }

    .main-4,
    .main-30,
    .main-32,
    .main-35,
    .main-39,
    .main-42,
    .main-47,
    .main-22 {
        background-attachment: scroll;
        height: 258px;
        background-position: 0 0;
    }

    .chunk p:nth-child(1) {
        font-size: 20px !important;
    }

    .chunk p:nth-child(2) {
        font-size: 18px !important;
    }

    .main-51 {
        background-attachment: scroll;
    }

    .main-55 {
        background-size: 100%;
        background-attachment: scroll;
    }

    .main-51,
    .main-55 {
        height: 300px;
    }

    .main-29 .content .picture .photo {
        transform: scale(1);
    }

    .main-29 .m .photo {
        /* height: 235px !important; */
    }

    .five .main-29 .photo {
        height: 239px !important;
    }

    .two .main-29 .photo,
    .five .main-29 .photo,
    .four .main-29 .photo,
    .six .main-29 .photo,
    .seven .main-29 .photo {
        width: 360px !important;
    }

    .footer .media li:nth-child(2) ul li:first-child a {
        display: none;
    }

    .footer .media li:nth-child(2) ul li:first-child .photo {
        opacity: 1;
    }

    .shu .counter {
        font-size: 20px;
    }

    .index .carousel_a .swiper-slide p:nth-child(4) a {
        background: #3979af;
        color: #fff;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .index .carousel_a .swiper-slide p:nth-child(4) {
        margin: 10px 0 0 0;
    }

    .new_a {
        display: block;
    }

    .main-60 .list p:nth-child(2) {
        padding: 0 15px 20px;
    }

    .main-60 .list {
        height: 320px;
    }

    .main-71 .w {
        justify-content: flex-start;
    }

    .main-71 .list {
        width: 30%;
    }

    .main-19 .item .nn+.icon {
        height: 60px;
    }

    .a1 {
        display: none;
    }

    .main-5 .smart_content_wrapper p {
        margin: 0 10px 42px;
    }

        .carousel_a .swiper-slide .photo{
        margin: 0 0 10px 0;
    }
      .carousel_a .swiper-slide .photo+p{
        color: #999;
        font-size: 16px;
    }
      .carousel_a .swiper-slide .photo+p+p{
        font-size: 15px;
    }

}